This notebook relates to the preparation of the Messages dataframe

Importing the libraries needed and the dataframe

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from scipy.sparse import hstack

messages = pd.read_csv('data/disaster_messages.csv')


messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [2]:
messages.shape

(26248, 4)

The genre feature doesn't seem to relate for our problem, which is predecting the category of the message, however since, as we can see below there is only 3 types, resulting in 2 features (after get_dummies, with the drop_first option activated) we'll keep it for now and came back to it if the correlation proves this assumption.

In [3]:
genres = messages.genre.str.get_dummies()
genres.head()

   direct  news  social
0       1     0       0
1       1     0       0
2       1     0       0
3       1     0       0
4       1     0       0

Exploration shows us that the original column is the message in the original language so there is no need to keep it.

In [4]:
messages = messages.drop(columns=['original'])
messages.head()

   id                                            message   genre
0   2  Weather update - a cold front from Cuba that c...  direct
1   7            Is the Hurricane over or is it not over  direct
2   8                    Looking for someone but no name  direct
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  says: west side of Haiti, rest of the country ...  direct

At a first glance it seems better to treat each message as a document and build a document-term matrix, we may however end up with a matrix with too many columns, but we'll evaluate this later on. But first we'll clean the text: Normalize followed by tokenize then removing stop words and finally lemmatize

In [5]:
stop_words = stopwords.words("english")
lemmatizer = WordNetLemmatizer()

def tokenize(text):
    # normalize case, remove punctuation and numbers
    text = re.sub(r"[^a-zA-Z]", " ", text.lower())
    
    # tokenize text
    tokens = word_tokenize(text)
    
    # lemmatize and remove stop words
    tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]
    
    #lemmatize verbs
    tokens = [lemmatizer.lemmatize(word, pos='v') for word in tokens]
    
    #lemmatize adjectives
    tokens = [lemmatizer.lemmatize(word, pos='a') for word in tokens]
    
    #lemmatize adverbs
    tokens = [lemmatizer.lemmatize(word, pos='r') for word in tokens]
    
    

    return tokens

In [6]:
# initialize count vectorizer object
vect = CountVectorizer(tokenizer=tokenize)

# get counts of each token (word) in entire dataframe
X_messages = vect.fit_transform(messages['message'])

In [7]:
#dictionary with the word count in the entire dataframe
vect.vocabulary_

{'weather': 26387,
 'update': 25550,
 'cold': 4541,
 'front': 8930,
 'cuba': 5441,
 'could': 5181,
 'pas': 17956,
 'haiti': 10057,
 'hurricane': 10913,
 'look': 14146,
 'someone': 22621,
 'name': 16209,
 'un': 25164,
 'report': 20390,
 'leogane': 13768,
 'destroy': 6135,
 'hospital': 10735,
 'st': 22929,
 'croix': 5372,
 'function': 9007,
 'need': 16382,
 'supply': 23451,
 'desperately': 6107,
 'say': 21446,
 'west': 26462,
 'side': 22190,
 'rest': 20515,
 'country': 5202,
 'today': 24445,
 'tonight': 24520,
 'information': 11577,
 'national': 16275,
 'palace': 17772,
 'storm': 23094,
 'sacred': 21043,
 'heart': 10339,
 'jesus': 12282,
 'please': 18636,
 'tent': 23976,
 'water': 26309,
 'silo': 22232,
 'thank': 24083,
 'would': 26766,
 'like': 13911,
 'receive': 20016,
 'message': 15188,
 'de': 5745,
 'bouquet': 2955,
 'health': 10330,
 'issue': 12039,
 'worker': 26741,
 'santo': 21352,
 'area': 1355,
 'nothing': 16809,
 'eat': 7092,
 'starve': 22983,
 'thirsty': 24207,
 'petionville': 18317,
 'regard': 20165,
 'thomassin': 24221,
 'number': 16917,
 'pyron': 19536,
 'god': 9493,
 'fine': 8436,
 'let': 13796,
 'together': 24451,
 'food': 8659,
 'delma': 5923,
 'didine': 6289,
 'order': 17401,
 'participate': 17931,
 'see': 21654,
 'use': 25629,
 'comitee': 4633,
 'delmas': 5925,
 'rue': 20944,
 'street': 23142,
 'janvier': 12178,
 'impasse': 11309,
 'charite': 4017,
 'people': 18176,
 'temporary': 23958,
 'shelter': 22013,
 'dire': 6409,
 'medication': 15042,
 'clothe': 4448,
 'stop': 23087,
 'u': 25051,
 'klecin': 13098,
 'die': 6293,
 'hunger': 10887,
 'chretien': 4241,
 'extend': 7998,
 'extension': 8000,
 'hungry': 10890,
 'sick': 22183,
 'go': 9481,
 'call': 3440,
 'want': 26248,
 'ou': 17525,
 'know': 13128,
 'understand': 25268,
 'thing': 24195,
 'earthquake': 7065,
 'one': 17284,
 'radio': 19722,
 'ginen': 9398,
 'journalist': 12446,
 'laplaine': 13533,
 'victim': 25919,
 'lack': 13405,
 'moleya': 15621,
 'inform': 11567,
 'live': 13999,
 'sibert': 22172,
 'hello': 10403,
 'faustin': 8208,
 'anhy': 1032,
 'neither': 16420,
 'medicine': 15046,
 'tell': 23942,
 'service': 21829,
 'anything': 1180,
 'ever': 7832,
 'provide': 19344,
 'gressier': 9751,
 'assistance': 1550,
 'right': 20688,
 'away': 1776,
 'asap': 1476,
 'come': 4612,
 'help': 10412,
 'get': 9334,
 'fontamara': 8657,
 'cite': 4322,
 'tinante': 24370,
 'carrefour': 3636,
 'forget': 8722,
 'completely': 4732,
 'foul': 8778,
 'odor': 17126,
 'kill': 13005,
 'good': 9550,
 'even': 7824,
 'tiyous': 24405,
 'lot': 14170,
 'problem': 19179,
 'avenue': 1743,
 'albert': 693,
 'jode': 12395,
 'find': 8433,
 'person': 18262,
 'send': 21743,
 'pant': 17842,
 'phone': 18402,
 'sleep': 22401,
 'outdoors': 17560,
 'field': 8384,
 'near': 16362,
 'lilavois': 13920,
 'since': 22272,
 'jan': 12167,
 'coords': 5080,
 'apparently': 1236,
 'pap': 17846,
 'death': 5761,
 'many': 14662,
 'differents': 6317,
 'also': 807,
 'cote': 5171,
 'plage': 18585,
 'leoganes': 13769,
 'comite': 4632,
 'miracle': 15436,
 'alerte': 706,
 'monseigneur': 15683,
 'guilloux': 9869,
 'cross': 5381,
 'mgr': 15249,
 'urgently': 25596,
 'dal': 5597,
 'block': 2748,
 'wednesday': 26400,
 'shortage': 22107,
 'medical': 15038,
 'jacmel': 12107,
 'work': 26739,
 'everybody': 7840,
 'dead': 5747,
 'talk': 23727,
 'petit': 18319,
 'goave': 9489,
 'end': 7463,
 'impass': 11307,
 'pierre': 18479,
 'louis': 14181,
 'difficulty': 6320,
 'congratulate': 4871,
 'strenght': 23149,
 'listen': 13977,
 'matisan': 14878,
 'grace': 9650,
 'upon': 25559,
 'aid': 570,
 'remove': 20308,
 'body': 2807,
 'colege': 4545,
 'la': 13377,
 'trinite': 24821,
 'universite': 25398,
 'professor': 19215,
 'student': 23190,
 'request': 20424,
 'tractor': 24634,
 'civil': 4344,
 'unrest': 25478,
 'social': 22530,
 'disturbance': 6585,
 'im': 11239,
 'ask': 1506,
 'general': 9245,
 'prayer': 18975,
 'kf': 12895,
 'marotiere': 14760,
 'miraguan': 15441,
 'government': 9625,
 'take': 23706,
 'change': 3966,
 'gallon': 9094,
 'gas': 9165,
 'arab': 1313,
 'wa': 26163,
 'college': 4570,
 'situate': 22340,
 'university': 25399,
 'inasmo': 11393,
 'teacher': 23863,
 'transfert': 24691,
 'house': 10769,
 'abroad': 103,
 'money': 15650,
 'rubble': 20930,
 'school': 21505,
 'l': 13376,
 'ecole': 7123,
 'sainte': 21104,
 'cooky': 5066,
 'bring': 3097,
 'colombian': 4580,
 'dog': 6675,
 'keep': 12826,
 'alive': 739,
 'menos': 15130,
 'so': 22520,
 'police': 18754,
 'officer': 17153,
 'insecure': 11684,
 'mother': 15789,
 'location': 14061,
 'baby': 1849,
 'beach': 2267,
 'fond': 8647,
 'parisien': 17912,
 'idea': 11102,
 'haitian': 10058,
 'home': 10651,
 'almost': 785,
 'collapse': 4558,
 'distroy': 6575,
 'completly': 4734,
 'distribute': 6569,
 'happy': 10169,
 'hear': 10337,
 'religious': 20270,
 'hyme': 11019,
 'seven': 21847,
 'locate': 14060,
 'betwenn': 2494,
 'musso': 16060,
 'juvenat': 12545,
 'dyobel': 7010,
 'dyobal': 7009,
 'sure': 23469,
 'clear': 4391,
 'pastor': 17989,
 'interpreter': 11842,
 'seek': 21658,
 'response': 20502,
 'team': 23866,
 'paco': 17703,
 'lazon': 13640,
 'department': 5993,
 'bernadette': 2450,
 'buy': 3333,
 'warm': 26273,
 'gourde': 9607,
 'communicate': 4678,
 'family': 8138,
 'minute': 15431,
 'cell': 3822,
 'outside': 17583,
 'january': 12176,
 'th': 24063,
 'friend': 8911,
 'dont': 6732,
 'news': 16498,
 'happen': 10165,
 'petion': 18316,
 'ville': 25973,
 'valley': 25751,
 'especially': 7722,
 'sath': 21403,
 'b': 1839,
 'driver': 6857,
 'mechanic': 15014,
 'least': 13679,
 'check': 4062,
 'registry': 20183,
 'book': 2878,
 'seem': 21661,
 'another': 1079,
 'big': 2568,
 'leave': 13681,
 'port': 18836,
 'au': 1652,
 'prince': 19135,
 'without': 26669,
 'really': 19971,
 'critical': 5357,
 'situation': 22342,
 'section': 21637,
 'communale': 4673,
 'violence': 25991,
 'play': 18623,
 'carnaval': 3623,
 'anbasad': 970,
 'camp': 3465,
 'think': 24196,
 'simple': 22257,
 'comment': 4647,
 'creole': 5325,
 'rap': 19850,
 'group': 9788,
 'refer': 20125,
 'read': 19948,
 'cry': 5411,
 'tk': 24410,
 'morning': 15752,
 'tomorrow': 24499,
 'isolate': 12024,
 'rain': 19763,
 'shower': 22127,
 'expect': 7955,
 'region': 20176,
 'ples': 18652,
 'give': 9418,
 'card': 3582,
 'minuts': 15432,
 'whoever': 26551,
 'wear': 26381,
 'white': 26541,
 'denim': 5971,
 'skirt': 22376,
 'print': 19144,
 'black': 2689,
 'shirt': 22072,
 'hair': 10046,
 'cornrow': 5125,
 'toiletry': 24460,
 'forcast': 8689,
 'night': 16582,
 'mediacation': 15031,
 'protect': 19326,
 'self': 21714,
 'cistern': 4318,
 'lovation': 14190,
 'bless': 2729,
 'adjs': 328,
 'southeast': 22718,
 'suffer': 23319,
 'something': 22626,
 'entire': 7560,
 'road': 20762,
 'sot': 22689,
 'pop': 18808,
 'cut': 5511,
 'south': 22715,
 'east': 7083,
 'fort': 8746,
 'mercredi': 15158,
 'guess': 9854,
 'sorry': 22682,
 'mix': 15509,
 'french': 8888,
 'sm': 22449,
 'who': 26547,
 'close': 4440,
 'mounn': 15825,
 'run': 20965,
 'low': 14197,
 'hurt': 10949,
 'treat': 24761,
 'next': 16517,
 'wound': 26770,
 'saint': 21102,
 'michely': 15268,
 'part': 17926,
 'martissant': 14789,
 'village': 25970,
 'dante': 5657,
 'digicel': 6337,
 'emergency': 7396,
 'capital': 3543,
 'bank': 2051,
 'plaine': 18589,
 'du': 6898,
 'cul': 5457,
 'sac': 21036,
 'distribution': 6570,
 'dabon': 5563,
 'doctor': 6664,
 'unable': 25166,
 'move': 15854,
 'around': 1418,
 'might': 15309,
 'stick': 23051,
 'presidential': 19082,
 'pal': 17770,
 'tuesday': 24922,
 'quake': 19603,
 'little': 13995,
 'wife': 26579,
 'pregnant': 19032,
 'injure': 11637,
 'fall': 8113,
 'walk': 26226,
 'anyone': 1176,
 'moya': 15862,
 'imcomprehensibley': 11256,
 'member': 15095,
 'repatriate': 20358,
 'incomprehensible': 11431,
 'duvivier': 6982,
 'grango': 9678,
 'urgent': 25595,
 'action': 251,
 'follow': 8639,
 'previous': 19111,
 'possible': 18869,
 'delivery': 5920,
 'deliver': 5918,
 'matter': 14889,
 'add': 286,
 'airtime': 624,
 'frere': 8896,
 'boukan': 2941,
 'damage': 5609,
 'motocycle': 15800,
 'cost': 5163,
 'woul': 26765,
 'aide': 571,
 'available': 1732,
 'province': 19348,
 'badly': 1906,
 'hit': 10567,
 'well': 26427,
 'factory': 8073,
 'fire': 8448,
 'airport': 619,
 'sogebank': 22559,
 'start': 22980,
 'burn': 3290,
 'several': 21851,
 'nearby': 16363,
 'document': 6667,
 'fonds': 8652,
 'verettes': 25855,
 'speak': 22773,
 'contact': 4976,
 'post': 18873,
 'station': 22993,
 'w': 26162,
 'representative': 20400,
 'f': 8047,
 'v': 25714,
 'r': 19689,
 'announcer': 1061,
 'city': 4334,
 'titanyen': 24397,
 'kid': 12985,
 'anne': 1050,
 'rescue': 20437,
 'dans': 5656,
 'zone': 27318,
 'etienne': 7779,
 'route': 20881,
 'est': 7738,
 'bloqu': 2764,
 'il': 11202,
 'trsdifficile': 24859,
 'se': 21574,
 'rendre': 20322,
 'rob': 20776,
 'currently': 5497,
 'vivi': 26045,
 'mitchell': 15499,
 'freres': 8897,
 'bo': 2789,
 'gravel': 9708,
 'vob': 26071,
 'ta': 23634,
 'muguet': 15945,
 'desprez': 6116,
 'pleine': 18648,
 'thirst': 24205,
 'anymore': 1175,
 'lapleine': 13534,
 'precise': 18997,
 'marin': 14737,
 'perpetuel': 18247,
 'secours': 21624,
 'church': 4274,
 'firefighter': 8455,
 'anse': 1091,
 'pitree': 18556,
 'everything': 7848,
 'inside': 11690,
 'back': 1862,
 'hometown': 10666,
 'pitrea': 18555,
 'absolutely': 111,
 'lilovois': 13927,
 'monarque': 15638,
 'place': 18577,
 'space': 22747,
 'put': 19486,
 'reason': 19989,
 'safety': 21066,
 'thief': 24185,
 'everywhere': 7850,
 'galet': 9087,
 'tabarre': 23642,
 'american': 889,
 'embassy': 7376,
 'commitee': 4659,
 'nameajeans': 16210,
 'youth': 27146,
 'association': 1556,
 'new': 16484,
 'society': 22539,
 'found': 8780,
 'september': 21793,
 'president': 19081,
 'criminal': 5342,
 'exactly': 7879,
 'akay': 646,
 'toman': 24482,
 'mile': 15334,
 'kabar': 12566,
 'kafou': 12589,
 'lachomy': 13404,
 'time': 24356,
 'open': 17336,
 'construction': 4959,
 'firm': 8465,
 'african': 456,
 'recruit': 20076,
 'civilian': 4345,
 'architect': 1346,
 'stockholder': 23072,
 'wonder': 26711,
 'moment': 15628,
 'do': 6655,
 'trap': 24729,
 'underneath': 25253,
 'latriniti': 13597,
 'enter': 7547,
 'electricity': 7297,
 'kind': 13025,
 'bon': 2855,
 'repos': 20394,
 'ona': 17276,
 'vile': 25966,
 'write': 26799,
 'beeing': 2321,
 'translator': 24709,
 'distributor': 6571,
 'else': 7351,
 'true': 24865,
 'political': 18766,
 'hold': 10636,
 'hinche': 10544,
 'half': 10079,
 'english': 7503,
 'mw': 16104,
 'unrecognized': 25471,
 'characterse': 4002,
 'initial': 11629,
 'formation': 8734,
 'accelerate': 145,
 'organize': 17427,
 'menfp': 15120,
 'finance': 8430,
 'bid': 2558,
 'launch': 13603,
 'truncate': 24874,
 'continue': 5012,
 'education': 7177,
 'bizoton': 2679,
 'humiliate': 10879,
 'car': 3562,
 'finish': 8442,
 'feuille': 8352,
 'wait': 26200,
 'edh': 7162,
 'everyone': 7843,
 'merger': 15166,
 'humanitarian': 10869,
 'survive': 23501,
 'golf': 9530,
 'course': 5219,
 'feuill': 8351,
 'ther': 24148,
 'plea': 18629,
 'stay': 23002,
 'kiskeya': 13058,
 'delams': 5892,
 'main': 14456,
 'respond': 20496,
 'visa': 26013,
 'travel': 24743,
 'alot': 795,
 'victimes': 25921,
 'arrive': 1431,
 'ath': 1591,
 'marchand': 14702,
 'desalin': 6055,
 'nan': 16221,
 'ranboto': 19825,
 'enough': 7523,
 'specialist': 22781,
 'surgeon': 23475,
 'orchidee': 17398,
 'cap': 3533,
 'haitien': 10061,
 'north': 16776,
 'km': 13109,
 'marc': 14699,
 'save': 21430,
 'life': 13887,
 'goverment': 9618,
 'international': 11818,
 'thak': 24073,
 'liancourt': 13848,
 'artibonit': 1452,
 'recieved': 20034,
 'different': 6313,
 'condition': 4824,
 'serious': 21814,
 'vencent': 25826,
 'bary': 2150,
 'etc': 7765,
 'mathieu': 14874,
 'abitation': 78,
 'rd': 19931,
 'communal': 4672,
 'grand': 9670,
 'riviere': 20739,
 'top': 24538,
 'hill': 10529,
 'label': 13382,
 'character': 3997,
 'county': 5208,
 'tranfer': 24674,
 'office': 17151,
 'nazon': 16323,
 'sylvio': 23607,
 'cator': 3726,
 'miami': 15258,
 'five': 8483,
 'afternoon': 466,
 'repo': 20384,
 'loubens': 14174,
 'every': 7839,
 'sense': 21761,
 'word': 26735,
 'nobody': 16684,
 'bye': 3349,
 'primati': 19129,
 'malgro': 14539,
 'stuff': 23194,
 'fight': 8394,
 'internet': 11827,
 'falaise': 8110,
 'important': 11342,
 'wireless': 26649,
 'laptop': 13538,
 'ruble': 20935,
 'solidarite': 22591,
 'lycee': 14321,
 'philippe': 18387,
 'guerrier': 9852,
 'le': 13656,
 'cayes': 3750,
 'bad': 1891,
 'watch': 26304,
 'warn': 26275,
 'smell': 22459,
 'linger': 13956,
 'yard': 26986,
 'woolio': 26730,
 'nway': 16945,
 'noone': 16748,
 'visit': 26024,
 'goldstar': 9529,
 'painson': 17741,
 'jean': 12226,
 'rabel': 19696,
 'lose': 14167,
 'caraibean': 3569,
 'lwes': 14306,
 'quickly': 19655,
 'assist': 1549,
 'homeless': 10658,
 'morin': 15745,
 'taifer': 23682,
 'municipality': 16010,
 'k': 12562,
 'fou': 8775,
 'unite': 25387,
 'state': 22987,
 'agent': 489,
 'brother': 3141,
 'sister': 22328,
 'population': 18820,
 'town': 24608,
 'jeremie': 12258,
 'boyfriend': 2984,
 'month': 15703,
 'whatever': 26493,
 'deliverance': 5919,
 'z': 27203,
 'head': 10318,
 'organization': 17425,
 'support': 23453,
 'relief': 20262,
 'southern': 22722,
 'gabyon': 9069,
 'husband': 10952,
 'pay': 18057,
 'usa': 25616,
 'thereas': 24156,
 'still': 23058,
 'remain': 20280,
 'crush': 5403,
 'make': 14502,
 'hope': 10705,
 'tortue': 24565,
 'mind': 15382,
 'island': 12014,
 'margot': 14724,
 'northern': 16783,
 'hr': 10800,
 'drive': 6856,
 'donor': 6730,
 'map': 14670,
 'cosquer': 5162,
 'drink': 6850,
 'child': 4144,
 'miss': 15477,
 'letter': 13800,
 'first': 8468,
 'probably': 19176,
 'obscure': 17049,
 'symbol': 23608,
 'livelihood': 14002,
 'suzanne': 23531,
 'didnt': 6291,
 'old': 17229,
 'soeur': 22553,
 'remember': 20291,
 'ade': 303,
 'parent': 17901,
 'amachu': 837,
 'count': 5190,
 'hot': 10750,
 'plate': 18616,
 'per': 18190,
 'day': 5726,
 'milk': 15353,
 'protein': 19330,
 'soap': 22523,
 'juice': 12497,
 'antibiotic': 1122,
 'vitamin': 26034,
 'sardine': 21378,
 'hypotensive': 11031,
 'anxiolytic': 1170,
 'hypoglycemiants': 11030,
 'antiflu': 1127,
 'antitussive': 1152,
 'anti': 1120,
 'aney': 1010,
 'p': 17686,
 'artibonite': 1453,
 'equipment': 7637,
 'ddp': 5742,
 'committee': 4662,
 'alert': 705,
 'torbeck': 24551,
 'sourthern': 22713,
 'central': 3839,
 'sabouce': 21033,
 'deslandes': 6099,
 'gps': 9644,
 'coordinate': 5077,
 'miques': 15433,
 'antihitamines': 1132,
 'diaper': 6261,
 'folic': 8637,
 'acid': 213,
 'antifungus': 1129,
 'c': 3360,
 'feminine': 8308,
 'pad': 17707,
 'vaginal': 25732,
 'solution': 22607,
 'klorox': 13103,
 'disinfectant': 6490,
 'hygienic': 11014,
 'mobile': 15553,
 'toilet': 24459,
 'battery': 2217,
 'generator': 9254,
 'dlo': 6639,
 'linen': 13954,
 'underwear': 25280,
 'woman': 26709,
 'men': 15106,
 'case': 3663,
 'consideration': 4923,
 'movement': 15855,
 'peasant': 18105,
 'cane': 3505,
 'deslands': 6100,
 'advise': 382,
 'limit': 13938,
 'mean': 14994,
 'certain': 3865,
 'patient': 18020,
 'nicholas': 16565,
 'difficult': 6319,
 'paris': 17909,
 'incomplete': 11430,
 'contextual': 4996,
 'educate': 7176,
 'mete': 15200,
 'ti': 24300,
 'kat': 12758,
 'pou': 18904,
 'mwen': 16110,
 'afka': 438,
 'oragnisation': 17389,
 'arcahaie': 1336,
 'stomach': 23080,
 'park': 17914,
 'originally': 17441,
 'try': 24883,
 'escape': 7699,
 'tragedy': 24650,
 'citizen': 4324,
 'mole': 15616,
 'nicolas': 16569,
 'leader': 13661,
 'drinkable': 6851,
 'become': 2300,
 'expansive': 7952,
 'kanpion': 12672,
 'campion': 3473,
 'reponsable': 20388,
 'authority': 1707,
 'break': 3043,
 'leg': 13701,
 'evrything': 7867,
 'staff': 22942,
 'nirvana': 16625,
 'bus': 3302,
 'already': 802,
 'present': 19071,
 'truitier': 24867,
 'jasmin': 12194,
 'villa': 25968,
 'mountain': 15827,
 'client': 4409,
 'polish': 18763,
 'christ': 4244,
 'noailles': 16682,
 'credit': 5312,
 'free': 8874,
 'dubois': 6904,
 'antoine': 1158,
 'manager': 14580,
 'compagny': 4697,
 'announcement': 1060,
 'diaster': 6274,
 'pile': 18491,
 'survivor': 23503,
 'lalue': 13464,
 'olympic': 17251,
 'market': 14748,
 'matye': 14895,
 'rivye': 20741,
 'seksyon': 21698,
 'leoganne': 13771,
 'patiently': 18021,
 'cause': 3740,
 'crowd': 5386,
 'relative': 20241,
 'favor': 8213,
 'till': 24346,
 'never': 16482,
 'seguineau': 21671,
 'corner': 5119,
 'bertholy': 2457,
 'jeremi': 12255,
 'silence': 22227,
 'hv': 10965,
 'bertin': 2458,
 'item': 12051,
 'assure': 1562,
 'reach': 19940,
 'gonaives': 9539,
 'adress': 359,
 'chief': 4132,
 'television': 23941,
 'overpopulation': 17629,
 'cay': 3747,
 'security': 21646,
 'rise': 20714,
 'overwhelm': 17649,
 'vehicules': 25817,
 'must': 16061,
 'limbeense': 13935,
 'ba': 1840,
 'note': 16805,
 'sebastien': 21612,
 'becuase': 2302,
 'thn': 24215,
 'truck': 24861,
 'full': 8998,
 'box': 2977,
 'fair': 8093,
 'fever': 8355,
 'non': 16718,
 'diarrhea': 6266,
 'ray': 19906,
 'build': 3217,
 'rin': 20697,
 'guy': 9938,
 'tiny': 24380,
 'amount': 926,
 'rice': 20654,
 'sell': 21717,
 'dollar': 6688,
 'gon': 9536,
 'na': 16148,
 'gonave': 9542,
 'second': 21619,
 'galets': 9088,
 'vice': 25913,
 'rafadek': 19735,
 'paix': 17747,
 'autority': 1721,
 'plan': 18593,
 'pot': 18888,
 'yet': 27059,
 'type': 25035,
 'france': 8827,
 'onere': 17290,
 'appear': 1239,
 'bite': 2669,
 'sentence': 21770,
 'tradeswoman': 24640,
 'dessalines': 6120,
 'perodin': 18240,
 'disaster': 6436,
 'mark': 14746,
 'advice': 379,
 'cyber': 5533,
 'cafe': 3402,
 'register': 20180,
 'purpose': 19474,
 'serf': 21811,
 'alone': 789,
 'clercine': 4399,
 'owner': 17661,
 'countryside': 5205,
 'wet': 26471,
 'way': 26348,
 'attention': 1639,
 ...}

In [8]:
X_messages.shape #(26248,31967)was the shape without removing numbers and adding lemmatizers for adjectives and adverbs

(26248, 27356)

In [9]:
#importing the dataframe cleaned in the categories notebook
categories = pd.read_csv('data/categories_prepared_rows_removed.csv')
categories = categories.rename(columns={'Unnamed: 0': 'old_index'})
categories.tail()

,old_index,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
19925,26240,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19926,26242,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19927,26245,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19928,26246,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19929,26247,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
#merging the two dataframes
df = pd.merge(messages,categories, left_index=True, right_on='old_index' )

#dropping the columns used to merge as they will no longer be needed
df = df.drop(columns=['id','old_index'])

#creating dummies from the genre column
df = pd.get_dummies(df,columns=['genre'],drop_first=True)

df.tail(), df.shape

(                                                 message  related  request  \
 19925  The delivery was made in conjunction with the ...        1        0
 19926  Hpakant, an area rich with coveted jade stones...        1        0
 19927  Proshika, operating in Cox's Bazar municipalit...        1        0
 19928  Some 2,000 women protesting against the conduc...        1        0
 19929  A radical shift in thinking came about as a re...        1        0

        offer  aid_related  medical_help  medical_products  search_and_rescue  \
 19925      0            0             0                 0                  0
 19926      0            0             0                 0                  0
 19927      0            0             0                 0                  0
 19928      0            1             0                 0                  0
 19929      0            0             0                 0                  0

        security  military  ...  weather_related  floods  storm  fire  \
 19925         0         0  ...                0       0      0     0
 19926         0         0  ...                0       0      0     0
 19927         0         0  ...                0       0      0     0
 19928         0         1  ...                0       0      0     0
 19929         0         0  ...                0       0      0     0

        earthquake  cold  other_weather  direct_report  genre_news  \
 19925           0     0              0              0           1
 19926           0     0              0              0           1
 19927           0     0              0              0           1
 19928           0     0              0              0           1
 19929           0     0              0              0           1

        genre_social
 19925             0
 19926             0
 19927             0
 19928             0
 19929             0

 [5 rows x 38 columns], (19930, 38))

In [11]:
categories.shape

(19930, 36)

In [12]:
# get counts of each token (word) in the merged dataframe with the row reduction
X = vect.fit_transform(df['message'])
X.shape

(19930, 23369)

In [13]:
# initialize tf-idf transformer object
transformer = TfidfTransformer(smooth_idf=False)
# use counts from count vectorizer results to compute tf-idf values
tfidf = transformer.fit_transform(X)

tfidf.shape

(19930, 23369)

In [14]:
#adding the genre dummies columns to the document term matrix we have just created
X_train = hstack((tfidf,np.array(df['genre_news'])[:,None]))
X_train = hstack((X_train,np.array(df['genre_social'])[:,None]))
X_train.shape

(19930, 23371)

In [15]:
#creating our target dataframe
y =  df.drop(columns=['genre_news','genre_social','message'])
y.shape

(19930, 35)

In [16]:
y.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,water,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0